/* 
    Local Stylesheet
*/


/* --Alerts-- */

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 4rem
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
}

.alert-danger {
    color: aliceblue;
    background-color: #dc2232;
    border-color: #f5c6cb
}

.alert-key {
    color: aliceblue;
    background-color: #0800ff;
    border-color: #f5c6cb
}

.alert-success {
    color: aliceblue;
    background-color: #1dbd42;
    border-color: #c3e6cb
}

.alert-warning {
    color: #0c0c0c;
    background-color: #f7d423;
    border-color: #ffeeba
}


/* --Body-- */

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    max-width: 100vw;
    overflow-x: hidden;
}

.page_background {
    background-color: #606263;
    color: aliceblue;
}

header {
    margin: auto;
    text-align: center;
    padding: .1px;
    align-content: center;
    color: #323231;
    /* background-image: linear-gradient(135deg, #ffbf12, #ff9000); */
    background: #ffbf12;
}

footer {
    font-weight: bold;
    font-variant: small-caps;
    margin: auto;
    text-align: center;
    padding: .1px;
    color: #323231;
    /* background-image: linear-gradient(135deg, #ffbf12, #ff9000); */
    background: #ffbf12;
}

.configuration {
    font-family: 'Courier New', Courier, monospace;
    background-color: #E8EBF5;
    color: #1A1C1A;
}


/* --Buttons-- */

.add_rule_button {
    color: #323231;
    font-weight: bold;
    min-height: 15px;
    width: 100%;
    border: none;
    background: linear-gradient(135deg, #d4d2cd, #d4d2cd);
    /* writing-mode: vertical-lr; */
}

.add_rule_button:hover {
    color: #323231;
    background: linear-gradient(135deg, #d4d2cd, #4bb964);
    /* writing-mode: vertical-lr; */
}

.button {
    color: #323231;
    font-weight: bold;
    min-height: 30px;
    width: 100%;
    border: 20px;
    /* background: linear-gradient(135deg, #ffbf12, #ff9000); */
    background: #ffbf12;
}

.button:hover {
    color: #323231;
    /* background: linear-gradient(135deg, #ffdc7e, #ffbe12); */
    /* background: #ff9900; */
    background: #ffa812;
}

.delete_rule_button {
    color: #323231;
    font-weight: bold;
    min-height: 20px;
    width: 100%;
    border: none;
    background: linear-gradient(135deg, #d4d2cd, #d4d2cd);
    writing-mode: vertical-lr;
}

.delete_rule_button:hover {
    color: #323231;
    background: linear-gradient(135deg, #d4d2cd, #cd4d4d);
    writing-mode: vertical-lr;
}


/* --Headings-- */

.chain_heading {
    font-weight: bold;
    font-variant: small-caps;
    font-size: large;
    /* color: #ff9000; */
    color: #ffbf12;
}

.filter_heading {
    font-weight: bold;
    font-variant: small-caps;
    font-size: large;
    /* color: #ff9000; */
    color: #ffbf12;
}

header,
h1 {
    padding: .1px;
    align-content: center;
    color: #323231;
    font-variant: small-caps;
}

h1 {
    font-variant: small-caps;
}

.h1_yellow {
    font-variant: small-caps;
}

h2 {
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    /* color: #ff9000; */
    color: #ffbf12;
}

h3 {
    font-weight: bold;
    font-variant: small-caps;
    /* color: #ff9000; */
    color: #ffbf12;
}

.h3_dark {
    font-weight: bold;
    font-variant: small-caps;
    font-size: large;
    color: #323231;
}

.h3_white {
    font-weight: bold;
    font-variant: small-caps;
    font-size: x-large;
    /* color: #ff9000; */
    color: aliceblue;
}

h4 {
    font-weight: bold;
    font-variant: small-caps;
    /* color: #ff9000; */
    color: #ffbf12;
}

.h4_dark {
    font-weight: bold;
    font-variant: small-caps;
    color: #323231;
}

.h4_white {
    font-weight: bold;
    font-variant: small-caps;
    color: aliceblue;
}

.section_heading {
    font-weight: bold;
    font-variant: small-caps;
    font-size: x-large;
    /* color: #ff9000; */
    color: #ffbf12;
}


/* --Links-- */

.docs_link {
    /* color: #ff9000; */
    color: #ffbf12;
    font-weight: bold;
    text-decoration: none;
}

.docs_link:hover {
    /* color: #ff9000; */
    color: #ffa812;
}

.link {
    /* color: #ff9000; */
    color: #ffbf12;
    text-decoration: none;
}

.link:hover {
    /* color: #ff9000; */
    color: #ffa812;
}

.link_white {
    color: aliceblue;
    font-variant: small-caps;
}

.link_white:hover {
    color: aliceblue;
    font-variant: small-caps;
    font-weight: bolder;
}

.link_dark {
    color: #323231;
    font-variant: small-caps;
    font-weight: bold;
}

.link_white:hover {
    color: #323231;
    font-variant: small-caps;
    font-weight: bolder;
}

.link_yellow {
    color: #ffbf12;
    text-decoration: none;
}

.link_yellow:hover {
    color: #ffbf12;
}


/* --PopUp-- */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* --Tables-- */

.table {
    color: aliceblue;
    border: 1;
    border-color: "#000000";

    padding: 10px;
    border-spacing: 0;
    border-collapse: collapse;

    table-layout: fixed;
    vertical-align: top;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
    table-layout: fixed;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
    table-layout: fixed;
}

.groups_table {
    color: aliceblue;
    border: 1;
    border-color: "#000000";

    padding: 10px;
    border-spacing: 0;
    border-collapse: collapse;

    table-layout: fixed;
    vertical-align: top;
}

.groups_table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
    table-layout: fixed;
}

.groups_table th {
    background-color: #ffbf12;
    color: #323231;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
    table-layout: fixed;
}

.groups_table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
    table-layout: fixed;
}


/* Table of Contents */

#toc_container {
    background: #606263 none repeat scroll 0 0;
    /* border: 1px solid #aaa; */
    display: table;
    /* font-size: 95%; */
    /* margin-bottom: 1em; */
    /* padding: 20px; */
    /* width: auto; */
}

.toc_title {
    font-weight: bolder;
    font-variant: small-caps;
    font-size: xx-large;
    color: #ffbf12;
    /* font-weight: 700; */
    /* text-align: center; */
}

#toc_container .link,
#toc_container .link:hover {
    color: #ffbf12;
    font-weight: bold;
    text-decoration: none;
}

#toc_container li {
    font-variant: small-caps;
    font-size: large;
    color: #ffbf12;
    color: #ffbf12;
    list-style: outside none none !important;
}

.li,
ul {
    font-variant: small-caps;
    font-size: large;
    color: #ffbf12;
    color: #ffbf12;
    list-style: outside none none !important;
}