{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table align=center border="0" bordercolor="#000000" cellpadding="10px" cellspacing=1>
    <form action="/add_filter" , method="post">
        <tr>
            <th colspan="5" align="left">
                <p style="font-weight:bold;font-variant:small-caps;font-size:x-large;color:#ff9900">
                    Add Filter
                </p>
            </th>
        </tr>
        <tr>
            <td colspan="5">
                Filters are tables of rules pointing to other tables of rules based on interface and traffic direction.
                <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/index.html" target=”_blank”
                    style="color: #FF9400; font-weight: bold;">
                    Docs&#x2197
                </a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <p style="font-weight:bold;font-variant:small-caps;font-size:large;color:#ff9900">
                    IP Version
                </p>
                <input type="radio" name="ip_version" value="ipv4" checked="checked">IPv4<br>
                <input type="radio" name="ip_version" value="ipv6">IPv6<br><br>
            </td>
            <td style="vertical-align: top;">
                <p style="font-weight:bold;font-variant:small-caps;font-size:large;color:#ff9900">
                    Filter Type
                </p>
                <input type="radio" name="type" value="input" checked="checked">input<br>
                <input type="radio" name="type" value="forward">forward<br>
                <input type="radio" name="type" value="output">output<br>
            </td>
            <td style="vertical-align: top;">
                <p style="font-weight:bold;font-variant:small-caps;font-size:large;color:#ff9900">
                    Description
                </p>
                <label for="description"></label>
                <input type="text" id="description" name="description" size=30 value=""><br>
            </td>
            <td style="vertical-align: top;">
                <p style="font-weight:bold;font-variant:small-caps;font-size:large;color:#ff9900">
                    Default Action
                </p>
                <input type="radio" name="default_action" value="accept" checked="checked">accept<br>
                <input type="radio" name="default_action" value="drop">drop<br>
            </td>
            <td style="vertical-align: top;">
                <p style="font-weight:bold;font-variant:small-caps;font-size:large;color:#ff9900">
                    Logging
                </p>
                <input type="checkbox" id="logging" name="logging" value="True">
                <label for="logging">Enable</label>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="5">
                <input type="submit" value="Add Filter">
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}