{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table">
    <form action="/add_table" , method="post">
        <tr>
            <th colspan="3" align="left">
                <h4> Add Firewall Table </h4>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                For firewall filtering, firewall rules needs to be created. Each rule is numbered, has an action to
                apply if the rule is matched, and the ability to specify multiple criteria matchers. Data packets go
                through the rules from 1 - 999999, so order is crucial. At the first match the action of the rule will
                be executed.
                <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/index.html" target=”_blank”
                    class="docs_link">
                    Docs&#x2197
                </a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <p class="section_heading">
                    IP Version
                </p>
                <input type="radio" name="ip_version" value="ipv4" checked="checked">IPv4<br>
                <input type="radio" name="ip_version" value="ipv6">IPv6<br><br>
            </td>
            <td style="vertical-align: top;">
                <p class="section_heading">
                    Firewall Table
                </p>
                <label for="fw_table">Table Name</label>
                <input type="text" id="fw_table" name="fw_table" size=30 value=""><br>
                <label for="description">Table Description</label>
                <input type="text" id="description" name="description" size=30 value=""><br>
            </td>
            <td style="vertical-align: top;">
                <p class="section_heading">
                    Rule Action
                </p>
                <input type="radio" name="default_action" value="accept">accept<br>
                <input type="radio" name="default_action" value="continue">continue<br>
                <input type="radio" name="default_action" value="drop" checked="checked">drop<br>
                <input type="radio" name="default_action" value="jump">jump<br>
                <input type="radio" name="default_action" value="reject">reject<br>
                <input type="radio" name="default_action" value="return">return<br>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="3">
                <input type="submit" value="Add Table">
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}