{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table align=center border="0" bordercolor="#000000" cellpadding="10px" cellspacing=1>
    <form action="/add_rule" , method="post">
        <tr>
            <th colspan="5" align="left">
                <h4> Add Firewall Rule </h4>
            </th>
        </tr>
        <tr>
            <td colspan="4">
                For firewall filtering, firewall rules needs to be created. Each rule is numbered, has an action to
                apply if the rule is matched, and the ability to specify multiple criteria matchers. Data packets go
                through the rules from 1 - 999999, so order is crucial. At the first match the action of the rule will
                be executed.
                <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/ipv4.html" target=”_blank”
                    class="docs_link">
                    Docs&#x2197
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p class="section_heading">
                    Firewall Table
                </p>
                <label for="fw_table">Table Name</label>
                <select name="fw_table" id="fw_table">
                    {% for table in table_list %}
                    <option value='{{table[0]}},{{table[1]}}'>
                        {{table[0]}}: {{table[1]}}
                    </option>
                    {% endfor %}
                </select><br>
            </td>
        </tr>
        <tr>
            <td>
                <p class="section_heading">
                    Rule Number
                </p>
                <label for="rule">Number</label>
                <input type="text" id="rule" name="rule" maxlength="6" size="6" value="1"><br>
            </td>
            <td>
                <p class="section_heading">
                    Description
                </p>
                <label for="rule">Description</label>
                <input type="text" id="description" name="description" size="25" value=""><br>
            </td>
            <td>
                <p class="section_heading">
                    Disable
                </p>
                <input type="checkbox" id="rule_disable" name="rule_disable" value="True">
                <label for="rule_disable">Disable</label>
            </td>
            <td>
                <p class="section_heading">
                    Logging
                </p>
                <input type="checkbox" id="logging" name="logging" value="True">
                <label for="logging">Enable</label>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="vertical-align: top;">
                <p class="section_heading">
                    Action
                </p>

                <input type="radio" name="action" value="accept" checked="checked">accept<br>
                <input type="radio" name="action" value="continue">continue<br>
                <input type="radio" name="action" value="drop">drop
            </td>

            <td rowspan="2" style="vertical-align: top;">
                <p class="section_heading">
                    Destination
                </p>

                <label for="dest_address">Address or<br>Group Name</label>
                <input type="text" id="dest_address" name="dest_address" size="25"><br>
                <input type="radio" name="dest_address_type" value="address" checked="checked">Address<br>
                <input type="radio" name="dest_address_type" value="address_group">Address Group<br>
                <input type="radio" name="dest_address_type" value="network_group">Network Group<br><br>

                <label for="dest_port">Port or<br>Port Group Name</label>
                <input type="text" id="dest_port" name="dest_port" size="21"><br>
                <input type="radio" name="dest_port_type" value="port" checked="checked">Port<br>
                <input type="radio" name="dest_port_type" value="port_group">Port Group

            </td>
            <td rowspan="2" style="vertical-align: top;">
                <p class="section_heading">
                    Source
                </p>

                <label for="source_address">Address or<br>Group Name</label>
                <input type="text" id="source_address" name="source_address" size="25"><br>
                <input type="radio" name="source_address_type" value="address" checked="checked">Address<br>
                <input type="radio" name="source_address_type" value="address_group">Address Group<br>
                <input type="radio" name="source_address_type" value="network_group">Network Group<br><br>

                <label for="source_port">Port or<br>Port Group Name</label>
                <input type="text" id="source_port" name="source_port" size="21"><br>
                <input type="radio" name="source_port_type" value="port" checked="checked">Port<br>
                <input type="radio" name="source_port_type" value="port_group">Port Group
            </td>

            <td rowspan="1">
                <p class="section_heading">
                    Protocol
                </p>
                <input type="radio" name="protocol" value="" checked="checked">any<br>
                <input type="radio" name="protocol" value="icmp">icmp<br>
                <input type="radio" name="protocol" value="tcp">tcp<br>
                <input type="radio" name="protocol" value="udp">udp<br>
                <input type="radio" name="protocol" value="tcp_udp">tcp_udp
            </td>
        <tr>
            <td rowspan="1">
                <p class="section_heading">
                    State
                </p>
                <input type="checkbox" id="state_est" name="state_est" value="True">
                <label for="state_est">Established</label><br>
                <input type="checkbox" id="state_inv" name="state_inv" value="True">
                <label for="state_inv">Invalid</label><br>
                <input type="checkbox" id="state_new" name="state_new" value="True">
                <label for="state_new">New</label><br>
                <input type="checkbox" id="state_rel" name="state_rel" value="True">
                <label for="state_rel">Related</label><br>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="5">
                <input type="submit" value="Generate Rule Configuration">
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}