{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table" border="0">
    <tr>
        <td colspan="2" align="left">
            <p class="section_heading">Backups</p>
            <hr width="100%">
        </td>
    </tr>
    <tr>
        <td width="75%">
            While encrypted, any <font class="yellow_text">SSH keys</font> which have been uploaded <font
                class="yellow_text">are excluded from backups</font>.<br><br>
            If an S3 bucket name and proper credentials are provided as environment variables to the application,
            the
            backup file is uploaded to the bucket for offsite storage.
        </td>
    </tr>
</table>

<div id="toc_container">
    <table class="table" border="0">
        <tr>
            <td colspan="2" align="left">
                <p class="section_heading">Create Full Backup</p>
            </td>
        </tr>
        <tr>
            <td width="75%">
                Press button to create a full backup of the data directory and a dump of the MongoDB.<br><br>
                The backup will be created in the data/backups directory and must be accessed via operating system
                level
                access to the filesystem. The backup includes all user directories and a full MongoDB dump.
            </td>
            <td align="center" width="25%">
                <form action="/admin_settings" method=post enctype=multipart/form-data>
                    <input type="hidden" id="backup" name="backup" value="full_backup">
                    <button class="add_rule_button" class="button" type="submit" value="Create Full Backup"
                        style="width: 100%;" style="width: 20%"
                        title="Create a new full backup zip file which can be access in the host file system or S3 bucket if configured.">Create
                        Full Backup</button>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <li class="li"><b>Existing Full Backups</b></li>
                {% for file in full_backup_list%}
                <ul class="ul">
                    {{file}}
                </ul>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
<br><br>
{% endblock body %}