<html>

<!-- Local CSS -->
<link rel="stylesheet" href="static/styles.css" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <script type="text/javascript" src="static/jquery.min.js">
    </script>
</head>

<header>
    <table width="100%">
        <tr>
            <td align="center" style="width: 25%;">
                <img src="static/fw-gui.png">
            </td>
            <td align="center" style="width: 50%;">
                <h1>Firewall GUI</h1>
                <p class="h4_dark">for use with VyOS</p>
            </td>
            <td style="width: 25%;">
            </td>
        </tr>
    </table>
</header>

<body class="page_background">


    <table border="0" align="center" style="vertical-align: top;">
        {% if current_user.is_authenticated %}
        <tr>
            <td>
                <p class="section_heading">Username:
                    <font class="h3_white">
                        {{ username }}
                    </font>
                </p>
            </td>
            <td text-align="center">
                {% if firewall_name %}
                <p class="section_heading" align="center">
                    <b>Firewall Name:</b>
                    <font class="h3_white">
                        {{ firewall_name }}
                    </font>
                    </h3_white>
                </p>
                {% endif %}
            </td>
            <td align="right">
                <a href="{{ url_for('admin_settings')}}">
                    <input class="snapshot_button" type="submit" value="Admin Settings" style="width: 130px">
                </a>

                <a href="{{ url_for('user_change_password')}}">
                    <input class="snapshot_button" type="submit" value="Change Password" style="width: 130px">
                </a>

                <a href="{{ url_for('user_logout')}}">
                    <input class="snapshot_button" type="submit" value="Logout" style="width: 80px">
                </a>
            </td>
        </tr>
        {% with flashed_messages = get_flashed_messages(with_categories=true) %}
        {% if flashed_messages %}
        <tr>
            <td></td>
            <td align="center">
                {% for category, flash_message in flashed_messages %}
                <div class="alert alert-{{ category }}">
                    {{flash_message}}
                </div>
            </td>
            <td></td>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </tr>
        {% endif %}
        <tr>
            <td width="25%" style="vertical-align: top;">
                {% if current_user.is_authenticated %}
                <table border="0" width="100%">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tr>
                        <td align="center" colspan="2">
                            <br><br>
                            <hr width="75%">
                            <p class="section_heading">Firewall Configurations</p>
                            <hr width="75%">
                            <br>
                        </td>
                    </tr>

                    {% if file_list%}
                    <form action="/select_firewall_config" method=post>
                        {% for file in file_list %}
                        <tr>
                            <td align="center" colspan="2">
                                <input class="button" type="submit" name="file" value="{{file}}" style="width: 75%">
                                {% if file == firewall_name %}
                                <hr width="75%">
                                <p class="section_subheading">Snapshots</p>
                                <button class="add_snapshot_button" type="submit" name="file" value="{{file}}/create"
                                    style="width: 30%">
                                    Create
                                </button>
                                <br>
                                <font style="font-size: 12">
                                    Clicking a snapshot below will load it and overwrite your<br>
                                    current "working copy" config. If you have unsaved<br>
                                    changes, create a new snapshot first.<br>
                                </font>
                                <br>
                                {% if snapshot_list%}
                                {% for snapshot in snapshot_list %}
                                <button class="snapshot_button" type="submit" name="file"
                                    value="{{snapshot.id}}/{{snapshot.name}}" style="width: 65%">{{snapshot.name}}
                                </button>
                                <button class="delete_snapshot_button" type="submit" name="file"
                                    value="{{snapshot.id}}/delete/{{snapshot.name}}" style="width: 5%">
                                    X
                                </button>
                                <ul></ul>
                                {% endfor %}
                                <a href="{{url_for('snapshot_diff_choose')}}">
                                    <button class="snapshot_button" style="width: 71%;" type="submit" name="file"
                                        value="Snapshot Diff">View
                                        Snapshot Diff</button>
                                </a>
                                {% endif %}
                                <hr width="75%">
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </form>
                    {% endif %}
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Create Configuration
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <form action="/create_config" method=post enctype=multipart/form-data>
                                <input type="text" id="config_name" name="config_name" maxlength="50" size="34"><br>
                                <input class="add_button" type="submit" style="width: 75%;" value="Create Config">
                            </form>
                        </td>
                    </tr>
                    {% if file_list%}
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Delete Configuration
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <form action="/delete_config" method=post>
                                <label class="page_background" for="delete_config">Delete Config:</label>
                                <select id="delete_config" name="delete_config">
                                    <option value=""></option>
                                    {% for file in file_list %}
                                    <option value="{{file}}">{{file}}</option>
                                    {% endfor %}
                                </select>
                                <input class="delete_button" type="submit" style="width: 75%;" value="Delete Config">
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Import Configuration
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <form action="/upload_json" method=post enctype=multipart/form-data>
                                <input type="file" name="file">
                                <input class="grey_button" type="submit" style="width: 75%;" value="Upload Datafile">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Export Configuration
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{url_for('download_json')}}" download="{{firewall_name}}.json">
                                <input class="grey_button" type="submit" value="Download Datafile" style="width: 75%;">
                            </a>
                        </td>
                    </tr>
                </table>
                {% endif %}
            </td>
            <td width="50%" style="vertical-align: top;">
                {% block body %}
                {% endblock body %}
            </td>
            <td width="25%" style="vertical-align: top;">

                <table border="0" width="100%">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>

                    {% if firewall_name %}
                    <tr>
                        <td align="center" colspan="2">
                            <br><br>
                            <hr width="75%">
                            <p class="section_heading">
                                Build Policy
                            </p>
                            <hr width="75%">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <p class="section_heading">
                                Interfaces
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('interface_view')}}">
                                <input class="grey_button" type="submit" value="View Interfaces" style="width: 75%">
                            </a>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Groups
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('group_view')}}">
                                <input class="grey_button" type="submit" value="View Groups" style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Flowtables
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('flowtable_view')}}">
                                <input class="grey_button" type="submit" value="View Flowtables" style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Chains
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('chain_view')}}">
                                <input class="grey_button" type="submit" value="View Chains" style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Filters
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('filter_view')}}">
                                <input class="grey_button" type="submit" value="View Filters" style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br>
                            <p class="section_heading">
                                Extra Configurations
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('configuration_extra_items')}}">
                                <input class="grey_button" type="submit" value="Add Extra Configurations"
                                    style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br><br>
                            <hr width="75%">
                            <p class="section_heading">
                                Deploy Policy
                            </p>
                            <hr width="75%">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('display_config')}}">
                                <input class="grey_button" type="submit" value="Display Configuration"
                                    style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{ url_for('configuration_push')}}">
                                <input class="grey_button" type="submit" value="Push to Firewall" style="width: 75%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <a href="{{url_for('download_config')}}" download="{{firewall_name}}.cfg">
                                <input class="grey_button" type="submit" style="width: 75%;"
                                    value="Download Configuration">
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </table>

</body>

<footer>
    <table class="table" align="center" width="100%">
        <tr>
            <td width="25%" align="center" style="vertical-align: middle;">
                <p class="h3_dark">
                    Host Your Own
                </p>
                <p class="h4_dark">
                    <a class="link_dark" href="https://hub.docker.com/repository/docker/ibehren1/fw-gui/general">Docker
                        Hub</a>
                </p>
            </td>
            <td width="50%" align="center" style="vertical-align: middle;">
                <p class="h4_dark">fw-gui {{ config['VERSION'] }}</p>
                <p class="h3_dark">Copyright 2024 Isaac Behrens</p>
            </td>
            <td width="25%" align="center" style="vertical-align: middle;">
                <p class="h3_dark">
                    Contribute
                </p>
                <p class="h4_dark">
                    <a class="link_dark" href="https://github.com/ibehren1/fw-gui">GitHub</a>
                </p>
            </td>
        </tr>
    </table>
</footer>

</html>