{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table">
    <tr>
        <th colspan="5" align="left">
            <h2> Add Firewall Rule </h2>
        </th>
    </tr>
    <tr>
        <td colspan="4">
            For firewall filtering, firewall rules needs to be created. Each rule is numbered, has an action to
            apply if the rule is matched, and the ability to specify multiple criteria matchers. Data packets go
            through the rules from 1 - 999999, so order is crucial. At the first match the action of the rule will
            be executed.
            <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/ipv4.html" target=”_blank”
                class="docs_link">
                Docs&#x2197
            </a>
        </td>
    </tr>
</table>
<br>
<table class="table" border="1">
    <form action=" /chain_rule_add" , method="post">
        <tr>
            <td colspan="4">
                <p class="section_heading">
                    Firewall Chain
                </p>
                <label for="fw_chain">Chain Name&nbsp;</label>
                <select name="fw_chain" id="fw_chain">
                    <option value="{{chain_name}}">{{chain_name | replace(",", ": ")}}</option>
                    {% for chain in chain_list %}
                    <option value='{{chain[0]}},{{chain[1]}}'>
                        {{chain[0]}}: {{chain[1]}}
                    </option>
                    {% endfor %}
                </select><br>
            </td>
        </tr>
        <tr>
            <td width="20%">
                <p class="section_heading">
                    Rule
                </p>
                <label for="rule">Number</label>
                <input type="text" id="rule" name="rule" maxlength="6" size="6" value="1"><br>
            </td>
            <td colspan="3" width="80%">
                <p class="section_heading">
                    Description
                </p>
                <label for="rule">Description</label>
                <input type="text" id="description" name="description" size="60%" value=""><br>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;" width="20%">
                <p class="section_heading">
                    Action
                </p>

                <input type="radio" name="action" value="accept" checked="checked">&nbsp;accept<br>
                <input type="radio" name="action" value="continue">&nbsp;continue<br>
                <input type="radio" name="action" value="drop">&nbsp;drop
            </td>

            <td colspan="2" rowspan="2" style="vertical-align: top;" width="60%">
                <p class="section_heading">
                    Destination
                </p>

                <table class="groups_table" width="100%">
                    <tr>
                        <td>
                            <input type="radio" name="dest_address_type" value="address"
                                checked="checked">&nbsp;Address&nbsp;<br>
                            <input type="radio" name="dest_address_type" value="address_group">&nbsp;Address
                            Group&nbsp;<br>
                            <input type="radio" name="dest_address_type" value="domain_group">&nbsp;Domain
                            Group&nbsp;<br>
                            <input type="radio" name="dest_address_type" value="mac_group">&nbsp;Mac Group&nbsp;<br>
                            <input type="radio" name="dest_address_type" value="network_group">&nbsp;Network Group&nbsp;
                        </td>
                        <td>
                            <input type="text" id="dest_address" name="dest_address" style="width: 200;"><br>

                            <select name="dest_address_group" id="dest_address_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "address-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["ip_version"]}}:
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select><br>

                            <select name="dest_domain_group" id="dest_domain_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "domain-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select><br>

                            <select name="dest_mac_group" id="dest_mac_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "mac-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select><br>

                            <select name="dest_network_group" id="dest_network_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "network-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["ip_version"]}}:
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="dest_port_type" value="port" checked="checked">&nbsp;Port<br>
                            <input type="radio" name="dest_port_type" value="port_group">&nbsp;Port Group
                        </td>
                        <td>
                            <input type="text" id="dest_port" name="dest_port" style="width: 200;"><br>
                            <select name="dest_port_group" id="dest_port_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "port-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                </table>
            </td>
            <td rowspan="2" width="20%">
                <p class="section_heading">
                    Protocol
                </p>
                <input type="radio" name="protocol" value="" checked="checked">&nbsp;any<br>
                <input type="radio" name="protocol" value="icmp">&nbsp;icmp<br>
                <input type="radio" name="protocol" value="tcp">&nbsp;tcp<br>
                <input type="radio" name="protocol" value="udp">&nbsp;udp<br>
                <input type="radio" name="protocol" value="tcp_udp">&nbsp;tcp_udp
            </td>
        </tr>
        <tr>
            <td>
                <p class="section_heading" width="20%">
                    Logging
                </p>
                <input type="checkbox" id="logging" name="logging" value="True">
                <label for="logging">&nbsp;Enable</label>
            </td>
        </tr>
        <tr>
            <td width="10%">
                <p class="section_heading">
                    Disable
                </p>
                <input type="checkbox" id="rule_disable" name="rule_disable" value="True">
                <label for="rule_disable">&nbsp;Disable</label>
            </td>
            <td colspan="2" style="vertical-align: top;">
                <p class="section_heading">
                    Source
                </p>

                <table class="groups_table" width="100%">
                    <tr>
                        <td>
                            <input type="radio" name="source_address_type" value="address"
                                checked="checked">&nbsp;Address<br>
                            <input type="radio" name="source_address_type" value="address_group">&nbsp;Address Group<br>
                            <input type="radio" name="source_address_type" value="domain_group">&nbsp;Domain Group<br>
                            <input type="radio" name="source_address_type" value="mac_group">&nbsp;Mac Group<br>
                            <input type="radio" name="source_address_type" value="network_group">&nbsp;Network
                            Group<br><br>
                        </td>
                        <td>
                            <input type="text" id="source_address" name="source_address" style="width: 200;"><br>

                            <select name="source_address_group" id="source_address_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "address-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["ip_version"]}}:
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select><br>

                            <select name="source_domain_group" id="source_domain_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "domain-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select><br>

                            <select name="source_mac_group" id="source_mac_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "mac-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select><br>

                            <select name="source_network_group" id="source_network_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "network-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["ip_version"]}}:
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="source_port_type" value="port" checked="checked">&nbsp;Port<br>
                            <input type="radio" name="source_port_type" value="port_group">&nbsp;Port Group
                        </td>
                        <td>
                            <input type="text" id="source_port" name="source_port" style="width: 200;"><br>
                            <select name="source_port_group" id="source_port_group" style="width: 200;">
                                <option value=''>
                                    {% for group in group_list %}
                                    {% if group["group_type"] == "port-group"%}
                                <option value='{{group["ip_version"]}},{{group["group_name"]}}'>
                                    {{group["group_name"]}}:
                                    {{group["group_value"]}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            <td>
                <p class="section_heading">
                    State
                </p>
                <input type="checkbox" id="state_est" name="state_est" value="True">
                <label for="state_est">&nbsp;Established</label><br>
                <input type="checkbox" id="state_inv" name="state_inv" value="True">
                <label for="state_inv">&nbsp;Invalid</label><br>
                <input type="checkbox" id="state_new" name="state_new" value="True">
                <label for="state_new">&nbsp;New</label><br>
                <input type="checkbox" id="state_rel" name="state_rel" value="True">
                <label for="state_rel">&nbsp;Related</label><br>
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td align="right" colspan="4">
                <input type="submit" value="Generate Rule Configuration">
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}