{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table">
    <form action="/chain_add" , method="post">
        <tr>
            <th colspan="3" align="left">
                <h2> Add Firewall Chain </h2>
            </th>
        </tr>
        <tr>
            <td colspan="4">
                For firewall filtering, firewall rules needs to be created. Each rule is numbered, has an action to
                apply if the rule is matched, and the ability to specify multiple criteria matchers. Data packets go
                through the rules from 1 - 999999, so order is crucial. At the first match the action of the rule will
                be executed.
                <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/index.html" target=”_blank”
                    class="docs_link">
                    Docs&#x2197
                </a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;" width="20%">
                <p class="section_heading">
                    IP Version
                </p>
                <input type="radio" name="ip_version" value="ipv4" checked="checked">&nbsp;IPv4<br>
                <input type="radio" name="ip_version" value="ipv6">&nbsp;IPv6<br><br>
            </td>
            <td style="vertical-align: top;" width="40%">
                <p class="section_heading">
                    Firewall Chain
                </p>
                <table>
                    <tr>
                        <td>
                            <label for="fw_chain">Chain Name</label>
                        </td>
                        <td>
                            <input type="text" id="fw_chain" name="fw_chain" size=30 value=""><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="description">Description</label>
                        </td>
                        <td>
                            <input type="text" id="description" name="description" size=30 value=""><br>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="20%">
                <p class="section_heading">
                    Logging
                </p>
                <input type="checkbox" id="logging" name="logging" value="True" checked>
                <label for="logging">&nbsp;Enable</label>
            </td>
            <td style="vertical-align: top;" width="20%">
                <p class="section_heading">
                    Default Action
                </p>
                <input type="radio" name="default_action" value="accept">&nbsp;accept<br>
                <input type="radio" name="default_action" value="continue">&nbsp;continue<br>
                <input type="radio" name="default_action" value="drop" checked="checked">&nbsp;drop<br>
                <input type="radio" name="default_action" value="jump">&nbsp;jump<br>
                <input type="radio" name="default_action" value="reject">&nbsp;reject<br>
                <input type="radio" name="default_action" value="return">&nbsp;return<br>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="4">
                <input type="submit" value="Add Chain">
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}