{% extends "basic_page.html" %}
{% block body %}

<hr>
<table class="groups_table" id="toc" width="100%">
    <tr>
        <td style="width:50%; vertical-align: top;">
            <div id="toc_container">
                <p class="chain_heading">IPv4 Chains</p>
                <hr>
                <ul class="toc_list">
                    {% if chain_dict.ipv4 %}
                    {% for key, chain_list in chain_dict.ipv4.items() %}
                    <li>
                        <a class="link" href="#ipv4{{key}}">{{key}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </td>
        <td style="width:50%; vertical-align: top;">
            <div id="toc_container">
                <p class="chain_heading">IPv6 Chains</p>
                <hr>
                <ul class="toc_list">
                    {% if chain_dict.ipv6 %}
                    {% for key, chain_list in chain_dict.ipv6.items() %}
                    <li>
                        <a class="link" href="#ipv6{{key}}">{{key}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </td>
    </tr>
</table>
<hr>
<br>

<p class="section_heading">IPv4 Chains</p>
<hr>

{% if chain_dict.ipv4 %}
{% for key, chain_list in chain_dict.ipv4.items() %}

<table class="groups_table" width="100%">
    <tr>
        <td>
            <p class="chain_heading" id="ipv4{{key}}">{{key}}</p>
        </td>
        <td>
            <p class="filter_heading" id="ipv4{{key}}" align="right"><a class="link_yellow" href="#toc">top&#x02191</a>
            </p>
        </td>
    </tr>
</table>
<table class="groups_table" border="1" width="100%" style="font-size: 12;">
    <th width="45px">
        Edit
    </th>

    <th colspan="2">
        Rule
    </th>

    <th colspan="2">
        Description
        <br>
        Enable & Logging
    </th>

    <th colspan="2">
        Destination
    </th>

    <th colspan="2">
        Source
    </th>

    <th colspan="2">
        Protocols
        <br>
        States
    </th>

    <th width="45px">
        Delete
    </th>

    {% for rule in chain_list %}
    <tr>
        <td align="center" rowspan="2">
            <form action="/chain_rule_add" , method="post">
                <input type="hidden" id="chain" name="type" value="edit">
                <input type="hidden" id="chain" name="chain" value="ipv4,{{key}}">
                <input type="hidden" id="chain" name="name" value="{{rule.number}}">
                <input type="hidden" id="chain" name="description" value="{{rule.description}}">
                <input type="hidden" id="chain" name="action" value="{{rule.action}}">
                <input type="hidden" id="chain" name="protocol" value="{{rule.protocol}}">
                <input type="hidden" id="chain" name="state_est" value="{{rule.state_est}}">
                <input type="hidden" id="chain" name="state_inv" value="{{rule.state_inv}}">
                <input type="hidden" id="chain" name="state_rel" value="{{rule.state_rel}}">
                <input type="hidden" id="chain" name="state_new" value="{{rule.state_new}}">
                <input type="hidden" id="chain" name="logging" value="{{rule.logging}}">
                <input type="hidden" id="chain" name="rule_disable" value="{{rule.rule_disable}}">
                <input class="edit_rule_button" type="submit" value="Edit Rule" style="height: 150; width: 20;"
                    title="Edit rule {{rule.number}}.">
            </form>
        </td>

        <td align="center" colspan="2" rowspan="2" style="vertical-align: middle;">
            <font style="font-size:60;">{{rule.number}}</font>
            <br>
            <font style="font-size:30; font-variant: small-caps ;">{{rule.action}}</font>
        </td>

        <td colspan="2">
            {{rule.description}}
        </td>


        <td colspan="2">
            Dest: {{rule.dest_address}}
            <br>
            Type: {{rule.dest_address_type}}
        </td>

        <td colspan="2">
            Source: {{rule.source_address}}
            <br>
            Type: {{rule.source_address_type}}
        </td>

        <td colspan="2" align="center" style="vertical-align: middle;">
            {% if rule.protocol == '' %}
            ANY
            {% else %}
            {{rule.protocol}}
            {% endif %}
        </td>

        <td align="center" rowspan="2">
            <form action="/chain_rule_delete" , method="post">
                <input type="hidden" id="rule" name="rule" value="ipv4,{{key}},{{rule.number}}">
                <input class="delete_rule_button" type="submit" value="Delete Rule" style="height: 150; width: 20;"
                    title="Delete rule {{rule.number}}.">
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {% if rule.rule_disable %}
            &#128308; &nbspDisabled
            {% else %}
            &#128994; &nbspEnabled
            {% endif %}
            <br>
            {% if rule.logging %}
            &#128994; &nbspLog
            {% else %}
            &#128308; &nbspLog
            {% endif %}
        </td>

        <td colspan="2">
            Port: {{rule.dest_port}}
            <br>
            Type: {{rule.dest_port_type}}
        </td>

        <td colspan="2">
            Port: {{rule.source_port}}
            <br>
            Type: {{rule.source_port_type}}
        </td>

        <td colspan="2">
            {% if rule.state_est %}
            &#128994;&nbspEst
            {% else %}
            &#128308;&nbspEst
            {% endif %}
            <br>
            {% if rule.state_inv %}
            &#128994;&nbspInv
            {% else %}
            &#128308;&nbspInv
            {% endif %}
            <br>
            {% if rule.state_rel %}
            &#128994;&nbspRel
            {% else %}
            &#128308;&nbspRel
            {% endif %}
            <br>
            {% if rule.state_new %}
            &#128994;&nbspNew
            {% else %}
            &#128308;&nbspNew
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <form action="/chain_rule_reorder" , method="post">
            <td colspan="3" align="center">
                <font style="font-size:20; font-variant: small-caps ;">reorder rule</font>
            </td>
            <td colspan="6">
                <label for="reorder_rule">&nbsp;</label>
                <select name="reorder_rule" id="reorder_rule">
                    <option value=''></option>
                    {% for rule in chain_list %}
                    <option value='ipv4,{{key}},{{rule.number}}'>
                        {{rule.number}}: {{rule.description}}
                    </option>
                    {% endfor %}
                </select>
                to
                <input type="text" id="new_rule_number" name="new_rule_number" maxlength="6" size="6" value="">
            </td>
            <td colspan="3">
                <input class="reorder_rule_button" type="submit" value="Reorder Rule" title="Re-order rule.">
            </td>
        </form>
    </tr>
    <tr>
        <td colspan="12">
            <form action="/chain_rule_add" , method="get">
                <input type="hidden" id="fw_chain" name="fw_chain" value="ipv4,{{key}}">
                <input class="add_rule_button" type="submit" value="Add Rule" title="Add rule.">
            </form>
        </td>
    </tr>
</table>
{% endfor %}
{% endif %}
<br>
<a href="{{ url_for('chain_add')}}">
    <input class="add_rule_button" type="submit" value="Add Chain" title="Add a new IPv4 Chain.">
</a>


<br><br>

<p class="section_heading">IPv6 Chains</p>
<hr>
{% if chain_dict.ipv6 %}
{% for key, chain_list in chain_dict.ipv6.items() %}

<table class="groups_table" width="100%">
    <tr>
        <td>
            <p class="chain_heading" id="ipv6{{key}}">{{key}}</p>
        </td>
        <td>
            <p class="filter_heading" id="ipv6{{key}}" align="right"><a class="link_yellow" href="#toc">top&#x02191</a>
            </p>
        </td>
    </tr>
</table>
<table class="groups_table" border="1" width="100%" style="font-size: 12;">
    <th width="45px">
        Edit
    </th>

    <th colspan="2">
        Rule
    </th>

    <th colspan="2">
        Description
        <br>
        Enable & Logging
    </th>

    <th colspan="2">
        Destination
    </th>

    <th colspan="2">
        Source
    </th>

    <th colspan="2">
        Protocols
        <br>
        States
    </th>

    <th width="45px">
        Delete
    </th>

    {% for rule in chain_list %}
    <tr>
        <td align="center" rowspan="2">
            <form action="/chain_rule_add" , method="post">
                <input type="hidden" id="chain" name="type" value="edit">
                <input type="hidden" id="chain" name="chain" value="ipv4,{{key}}">
                <input type="hidden" id="chain" name="name" value="{{rule.number}}">
                <input type="hidden" id="chain" name="description" value="{{rule.description}}">
                <input type="hidden" id="chain" name="action" value="{{rule.action}}">
                <input type="hidden" id="chain" name="protocol" value="{{rule.protocol}}">
                <input type="hidden" id="chain" name="state_est" value="{{rule.state_est}}">
                <input type="hidden" id="chain" name="state_inv" value="{{rule.state_inv}}">
                <input type="hidden" id="chain" name="state_rel" value="{{rule.state_rel}}">
                <input type="hidden" id="chain" name="state_new" value="{{rule.state_new}}">
                <input type="hidden" id="chain" name="logging" value="{{rule.logging}}">
                <input type="hidden" id="chain" name="rule_disable" value="{{rule.rule_disable}}">
                <input class="edit_rule_button" type="submit" value="Edit Rule" style="height: 150; width: 20;"
                    title="Edit rule {{rule.number}}.">
            </form>
        </td>

        <td align="center" colspan="2" rowspan="2" style="vertical-align: middle;">
            <font style="font-size:60;">{{rule.number}}</font>
            <br>
            <font style="font-size:30; font-variant: small-caps ;">{{rule.action}}</font>
        </td>

        <td colspan="2">
            {{rule.description}}
        </td>

        <td colspan="2">
            Dest: {{rule.dest_address}}
            <br>
            Type: {{rule.dest_address_type}}
        </td>

        <td colspan="2">
            Source: {{rule.source_address}}
            <br>
            Type: {{rule.source_address_type}}
        </td>

        <td colspan="2" align="center" style="vertical-align: middle;">
            {% if rule.protocol == '' %}
            ANY
            {% else %}
            {{rule.protocol}}
            {% endif %}
        </td>

        <td align="center" rowspan="2">
            <form action="/chain_rule_delete" , method="post">
                <input type="hidden" id="rule" name="rule" value="ipv6,{{key}},{{rule.number}}">
                <input class="delete_rule_button" type="submit" value="Delete Rule" style="height: 150; width: 20;"
                    title="Delete rule {{rule.number}}.">
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {% if rule.disable %}
            &#128308; &nbspDisabled
            {% else %}
            &#128994; &nbspEnabled
            {% endif %}
            <br>
            {% if rule.logging %}
            &#128994; &nbspLog
            {% else %}
            &#128308; &nbspLog
            {% endif %}
        </td>

        <td colspan="2">
            Port: {{rule.dest_port}}
            <br>
            Type: {{rule.dest_port_type}}
        </td>

        <td colspan="2">
            Port: {{rule.source_port}}
            <br>
            Type: {{rule.source_port_type}}
        </td>

        <td colspan="2">
            {% if rule.state_est %}
            &#128994;&nbspEst
            {% else %}
            &#128308;&nbspEst
            {% endif %}
            <br>
            {% if rule.state_inv %}
            &#128994;&nbspInv
            {% else %}
            &#128308;&nbspInv
            {% endif %}
            <br>
            {% if rule.state_rel %}
            &#128994;&nbspRel
            {% else %}
            &#128308;&nbspRel
            {% endif %}
            <br>
            {% if rule.state_new %}
            &#128994;&nbspNew
            {% else %}
            &#128308;&nbspNew
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <form action="/chain_rule_reorder" , method="post">
            <td colspan="3" align="center">
                <font style="font-size:20; font-variant: small-caps ;">reorder rule</font>
            </td>
            <td colspan="6">
                <label for="reorder_rule">&nbsp;</label>
                <select name="reorder_rule" id="reorder_rule">
                    <option value=''></option>
                    {% for rule in chain_list %}
                    <option value='ipv6,{{key}},{{rule.number}}'>
                        {{rule.number}}: {{rule.description}}
                    </option>
                    {% endfor %}
                </select>
                to
                <input type="text" id="new_rule_number" name="new_rule_number" maxlength="6" size="6" value="">
            </td>
            <td colspan="3">
                <input class="reorder_rule_button" type="submit" value="Reorder Rule" title="Re-order rule.">
            </td>
        </form>
    </tr>
    <tr>
        <td colspan="12" align="center" rowspan="2">
            <form action="/chain_rule_add" , method="get">
                <input type="hidden" id="fw_chain" name="fw_chain" value="ipv6,{{key}}">
                <input class="add_rule_button" type="submit" value="Add Rule" title="Add a new rule.">
            </form>
        </td>
    </tr>
</table>
{% endfor %}
{% endif %}
<br>
<a href="{{ url_for('chain_add')}}">
    <input class="add_rule_button" type="submit" value="Add Chain" title="Add a new IPv6 Chain.">
</a>

<br><br>

{% endblock body %}