{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table" width="100%">
    <tr>
        <td align="center">
            <h2 class="page_heading">Firewall Configuration</h2>
        </td>
    </tr>
    <tr>
        <td width="100%">
            The below VyOS CLI configuration commands can be copied and pasted to the CLI for firewall configuration or
            download the whole configuration with the button on the right.
            <a href="https://docs.vyos.io/en/sagitta/cli.html" target=”_blank” class="docs_link">
                Docs&#x2197
            </a>
        </td>
    </tr>
    <tr>
        <!-- <td style="font-family: 'Courier New', Courier, monospace;"> -->
        <td class="configuration">
            <pre>
                <code>
            {% autoescape false %}
{{message}}
            {% endautoescape %}
                </code>
            </pre>
        </td>
    </tr>
</table>
<br><br>
{% endblock body %}