{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table align=center border="0" bordercolor="#000000" cellpadding="10px" cellspacing=1>
    <form action="/delete_group" , method="post">
        <tr>
            <th colspan="5" align="left">
                <p style="font-weight:bold;font-variant:small-caps;font-size:x-large;color:#ff9900">
                    Delete Firewall Group
                </p>

            </th>
        </tr>
        <tr>
            <td colspan="2">
                Firewall groups represent collections of IP addresses, networks, ports, mac addresses, domains or
                interfaces. Once created, a group can be referenced by firewall, nat and policy route rules as either a
                source or destination matcher, and/or as inbound/outbound in the case of interface group.
                <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/groups.html" target=”_blank”
                    style="color: #FF9400; font-weight: bold;">Docs&#x2197</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <p style="font-weight:bold;font-variant:small-caps;font-size:large;color:#ff9900">
                    Group
                </p>
                Choose group to delete.<br>
                <label for="fw_table">Table Name</label>
                <select name="group" id="group">
                    {% for group in group_list %}
                    <option value='{{group[0]}},{{group[1]}}'>{{group[0]}}:
                        {{group[1]}}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="5">
                <input type="submit" value="Delete Group">
            </td>
        </tr>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}