{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table">
    <form action="/delete_filter_rule" , method="post">
        <tr>
            <th colspan="5" align="left">
                <h4> Delete Filter Rule </h4>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                Filters are tables of rules pointing to other tables of rules based on interface and traffic direction.
                <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/index.html" target=”_blank”
                    class="docs_link">
                    Docs&#x2197
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <p class="section_heading">
                    Rule
                </p>
                Choose rule to delete.<br>
                <label for="filter"></label>
                <select name="rule" id="rule">
                    {% for rule in rule_list %}
                    <option value='{{rule[0]}},{{rule[1]}},{{rule[2]}}'>
                        {{rule[0]}}, {{rule[1]}}, rule {{rule[2]}} ({{rule[3]}})
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="5">
                <input type="submit" value="Delete Rule">
            </td>
        </tr>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}