{% extends "basic_page.html" %}
{% block body %}

<hr>
<table class="groups_table" id="toc" width="100%">
    <tr>
        <td style="width:50%; vertical-align: top;">
            <div id="toc_container">
                <p class="filter_heading">IPv4 Filters</p>
                <hr>
                <ul class="toc_list">
                    {% if filter_dict.ipv4 %}
                    {% for key, filter_list in filter_dict.ipv4.items() %}
                    <li>
                        <a class="link" href="#ipv4{{key}}">{{key}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </td>
        <td style="width:50%; vertical-align: top;">
            <div id="toc_container">
                <p class="filter_heading">IPv6 Filters</p>
                <hr>
                <ul class="toc_list">
                    {% if filter_dict.ipv6 %}
                    {% for key, filter_list in filter_dict.ipv6.items() %}
                    <li>
                        <a class="link" href="#ipv6{{key}}">{{key}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </td>
    </tr>
</table>
<hr>
<br>

<p class="section_heading">IPv4 Filters</p>
<hr>

{% if filter_dict.ipv4 %}
{% for key, filter_list in filter_dict.ipv4.items() %}
<table class="groups_table" width="100%">
    <tr>
        <td>
            <p class="filter_heading" id="ipv4{{key}}">{{key}}</p>
        </td>
        <td>
            <p class="filter_heading" id="ipv6{{key}}" align="right"><a class="link_yellow" href="#toc">top&#x02191</a>
            </p>
        </td>
    </tr>
</table>
<table class="groups_table" border="1" width="100%" style="font-size: 12;">
    <th>
        Rule
    </th>

    <th>
        Description
    </th>

    <th>
        Target Chain
    </th>

    <th>
        Interface
    </th>

    <th>
        Direction
    </th>

    {% for rule in filter_list %}
    <tr align="center" style="vertical-align: middle;">
        <td align="center" style="vertical-align: middle;">
            <font style="font-size:60;">{{rule.number}}</font>
            <br>
            <font style="font-size:30; font-variant: small-caps ;">{{rule.action}}</font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.description}}
            </font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.fw_chain}}
            </font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.interface}}
            </font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.direction}}
            </font>
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endif %}


<br><br>

<p class="section_heading">IPv6 Filters</p>
<hr>
{% if filter_dict.ipv6 %}
{% for key, filter_list in filter_dict.ipv6.items() %}

<table class="groups_table" width="100%">
    <tr>
        <td>
            <p class="filter_heading" id="ipv6{{key}}">{{key}} </p>
        </td>
        <td>
            <p class="filter_heading" id="ipv6{{key}}" align="right"><a class="link_yellow" href="#toc">top&#x02191</a>
            </p>
        </td>
    </tr>
</table>
<table class="groups_table" border="1" width="100%" style="font-size: 12;">
    <th>
        Rule
    </th>

    <th>
        Description
    </th>

    <th>
        Target Chain
    </th>

    <th>
        Interface
    </th>

    <th>
        Direction
    </th>

    {% for rule in filter_list %}
    <tr align="center" style="vertical-align: middle;">
        <td align="center" style="vertical-align: middle;">
            <font style="font-size:60;">{{rule.number}}</font>
            <br>
            <font style="font-size:30; font-variant: small-caps ;">{{rule.action}}</font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.description}}
            </font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.fw_chain}}
            </font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.interface}}
            </font>
        </td>

        <td style="vertical-align: middle;">
            <font style="font-size:16;">
                {{rule.direction}}
            </font>
        </td>
    </tr>
    {% endfor %}

</table>
{% endfor %}
{% endif %}

<br><br>

{% endblock body %}