{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table">
    <tr>
        <th align="left">
            <h2>Add Filter</h2>
        </th>
    </tr>
    <tr>
        <td>
            Filters are tables of rules pointing to other chains of rules based on interface and traffic direction.
            Filters exist primarily just to jump to a chain of interface and direction specific rules.
            <a href="https://docs.vyos.io/en/sagitta/configuration/firewall/index.html" target=”_blank”
                class="docs_link">
                Docs&#x2197
            </a>
        </td>
    </tr>
</table>
<br>
<table class="table" border="1" width="100%">
    <form action="/filter_add" , method="post">
        <tr>
            <td colspan="4" style="vertical-align: top;" width="100%">
                <p class="section_heading">
                    Description
                </p>
                <label for="description"></label>
                <input type="text" id="description" name="description" size=70% value=""><br>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;" width="25%">
                <p class="section_heading">
                    IP Version
                </p>
                <input type="radio" name="ip_version" value="ipv4" checked="checked">&nbsp;IPv4<br>
                <input type="radio" name="ip_version" value="ipv6">&nbsp;IPv6<br><br>
            </td>
            <td style="vertical-align: top;" width="25%">
                <p class="section_heading">
                    Filter Type
                </p>
                <input type="radio" name="type" value="input" checked="checked">&nbsp;input<br>
                <input type="radio" name="type" value="forward">&nbsp;forward<br>
                <input type="radio" name="type" value="output">&nbsp;output<br>
            </td>

            <td style="vertical-align: top;" width="25%">
                <p class="section_heading">
                    Default Action
                </p>
                <input type="radio" name="default_action" value="accept" checked="checked">&nbsp;accept<br>
                <input type="radio" name="default_action" value="drop">&nbsp;drop<br>
            </td>
            <td style="vertical-align: top;" width="25%">
                <p class="section_heading">
                    Logging
                </p>
                <input type="checkbox" id="logging" name="logging" value="True">
                <label for="logging">&nbsp;Enable</label>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="4" width="100%">
                <button class="add_rule_button" type="submit" value="Add Filter" style="width: 15%"
                    title="Add filter.">Add Filter</button>
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}