{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table">
    <tr>
        <th colspan="5" align="left">
            <h2>Add Flowtable</h2>
        </th>
    </tr>
    <tr>
        <td colspan="2">
            Flowtables are referenced by Filters and determine the traffic which skips other rules in the filter.
        </td>
    </tr>
</table>
<br>

<div id="toc_container">
    <table class="table" border="1" width="100%">
        <form action="/flowtable_add" , method="post">
            <input type="hidden" id="flowtable" name="type" value="add">
            <tr>
                <td style="vertical-align: top;" width="30%">
                    <p class="section_heading">
                        Flowtable Name
                    </p>
                    {% if flowtable_detail.flowtable_name != '' %}
                    <input type="text" id="flowtable_name" name="flowtable_name" size="25%"
                        value="{{flowtable_detail.flowtable_name}}"><br>
                    {% else %}
                    <input type="text" id="flowtable_name" name="flowtable_name" size="25%" value=""><br>
                    {% endif %}
                </td>
                <td style="vertical-align: top;" width="70%">
                    <p class="section_heading">
                        Flowtable Description
                    </p>
                    {% if flowtable_detail.flowtable_desc != '' %}
                    <input type="text" id="flowtable_desc" name="flowtable_desc" size="70%"
                        value="{{flowtable_detail.flowtable_desc}}"><br>
                    {% else %}
                    <input type="text" id="flowtable_desc" name="flowtable_desc" size="70%" value=""><br>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="section_heading">
                        Interfaces
                    </p>
                    {% for item in interface_list|sort(attribute='name') %}
                    &nbsp&nbsp&nbsp
                    <input type="checkbox" id="{{item.name}}" name="interface_{{item.name}}" value="{{item.name}}">
                    <label for="{{item.name}}">{{item.name}}</label><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2" width="100%">
                    <button class="add_rule_button" type="submit" value="Add Flowtable" style="width: 15%"
                        title="Add Flowtable.">Add
                        Flowtable</button>
                </td>
            </tr>
            </tr>
        </form>
    </table>
</div>

<br><br>
{% endblock body %}