{% extends "basic_page.html" %}
{% block body %}


<br>

<p class="section_heading">Interfaces</p>
This section defines interfaces to be referenced by Flow Tables and in Filters.<br>
It <b>does not</b> define or configure the interface in VyOS.
<br><br>
<table class="groups_table" id="ipv4addressgroup" border="1" width="100%" style="font-size: 12;">
    <th>
        Name
    </th>

    <th colspan="2">
        Description
    </th>

    <th width="45px">
        Action
    </th>

    {% for item in interface_list|sort(attribute='name') %}
    <tr>
        <td align="center">
            <image src="static/network-interface-32-yellow.svg" align="center" width="20" height="20"></image>
            <font style="font-size: 20; font-variant: small-caps;">
                {{item.name}}
            </font>
        </td>

        <td colspan="2">
            {{item.description}}
        </td>

        <td align="center">
            <form action="/interface_delete" , method="post">
                <input type="hidden" id="interface" name="interface" value="{{item.name}}">
                <input class="delete_rule_button" type="submit" value="Delete" style="height: 65; width: 20;">
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4">
            <form action="/interface_add" , method="get">
                <input type="hidden" id="fw_chain" name="fw_chain" value="ipv4,{{key}}">
                <input class="add_rule_button" type="submit" value="Add Interface">
            </form>
        </td>
    </tr>
</table>
<br><br>
{% endblock body %}