{% extends "basic_page.html" %}
{% block body %}
<br><br>
<table class="table" border="0">
    <form action="/user_change_password" , method="post">
        <tr>
            <td colspan="3" align="left">
                <h2>Change Password</h2>
                Change your password by entering your current and new password twice.
            </td>
        </tr>
        <tr>
            <td rowspan="4" width="20%">
            </td>

            <td>
                <label for="current_password">Current Password</label>
            </td>

            <td>
                <input type=password name=current_password size="30">
            </td>
        </tr>
        <tr>
            <td>
                <label for="new_password">New Password</label>
            </td>

            <td>
                <input type=password name=new_password size="30">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password_confirm">Confirm Password</label>
            </td>

            <td>
                <input type=password name=confirm_password size="30">
            </td>
        </tr>
        <tr>
            <td>
            </td>

            <td align="center" colspan="2">
                <p><button class="snapshot_button" type=submit value="Change Password" style="width: 70%">Change
                        Password</button>
            </td>
        </tr>
    </form>
</table>
<br><br>
{% endblock body %}