{% extends "basic_page.html" %}
{% block body %}
<br><br>
<form action="/user_change_password" , method="post">
    <table class="table">
        <tr>
            <td>
                <label for="current_password">Current Password</label>
            </td>
            <td>
                <input type=password name=current_password><br>
            </td>
        </tr>
        <tr>
            <td>
                <label for="new_password">New Password</label>
            </td>
            <td>
                <input type=password name=new_password><br>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password_confirm">Confirm Password</label>
            </td>
            <td>
                <input type=password name=confirm_password><br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="center" colspan="2">
                <p><input type=submit value="Change Password">
            </td>
        </tr>
    </table>
</form>
<br><br>
{% endblock body %}